:root{
    --stock-table-grid-columns: .1fr .2fr .5fr .5fr .3fr .5fr .5fr;
}

.table-wrapper {
    max-width: 1640px;
    min-width: 320px;
    width: 100%;
    margin: 12px auto;
}

.table-wrapper.loading {
    animation: loading 1s infinite;
    filter: grayscale(1);
}

.table-wrapper p {
    font-size: .8rem;
    font-weight: 300;
    color: var(--color-primary);
    margin: 8px 0;
}

.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-controls .filters,
.table-controls .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.table-controls button {
    padding: 2px 8px;
    border: none;
    background-color: var(--button-primary);
    color: var(--text-secondary);
    font-weight: 300;
    cursor: pointer;
}

.filters button {
    background-color: var(--button-secondary);
}

.table-controls .filters button:hover,
.table-controls .pagination button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.table-controls .filters button:disabled,
.table-controls .pagination button:disabled {
    display: none;
}

.trending-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    margin: 8px auto;

    border: 1px solid var(--color-primary);
    border-radius: 6px;

    color: var(--color-primary);
}

.trending-table .table-header {
    display: grid;
    align-items: center;
    grid-template-columns: var(--stock-table-grid-columns);

    width: 100%;
    height: 50px;

    border: 1px solid var(--color-primary);
    background-color: var(--stocks-table-background);

    text-align: center;
}

.table-cell {
    display: grid;
    align-items: center;
    grid-template-columns: var(--stock-table-grid-columns);

    width: 100%;
    min-height: 50px;
    padding: 0 8px;

    border: 1px solid var(--color-primary);
}

.table-cell-name {
    font-weight: 500;
}

.table-cell-name:hover {
    color: var(--button-primary);
    text-decoration: underline;
    cursor: pointer;
}


.table-cell:hover,
.table-cell:nth-child(odd):hover {
    background-color: #f0f0f077;
}

.table-cell:nth-child(odd) {
    background-color: var(--stocks-table-background);
}

.table-cell-change {
    display: flex;
    justify-content: center;
    gap: 4px;
    
    font-size: .7em;
    font-weight: 300;
    border: 1px solid var(--color-primary);
    border-radius: 6px;
    padding: 2px 4px;
}

.table-cell-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-cell-img img {
    width: 32px;
    height: 32px;
}

@keyframes loading {
    0% {
        opacity: .2;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: .2;
    }
}