.ticker-carousel {
    display: flex;
    overflow: hidden;
    position: relative;

    gap: 12px;
}

.ticker {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-primary);
    padding: 8px;

    width: 90px;
    height: 70px;
}

.ticker-meta {
    display: flex;
    justify-content: space-between;
    font-size: .8em;
}