.aside {
    width: var(--aside-offset);
    height: 100%;
    background-color: var(--color-tertiary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 102px;
    left: 0;

    transform: translateX(0);
    transition: transform 0.1s;
}

.aside.hidden {
    transform: translateX(-100%);
}

.aside-navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aside-navbar__item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.aside-navbar__item > *,
.aside-navbar__item svg {
    color: var(--text-primary) !important;
}

.outlet {
    margin-left: var(--aside-offset);
    transition: margin-left 0.2s;
}

.outlet.hidden {
    margin-left: 70px;
}
